<form method="POST">
  <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;color:aquamarine">Prefix:</p>
  <p class="disabled" style="color:rgb(234, 0, 255)">Moderator role(s)</p>
  <input type="text" class="form-control" name="prefix" value="<%= settings.moderators %>" placeholder="Enter moderator role name in server" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter moderator role name in server'">
  <br><button type="submit" class="btn btn-success text-white">Save Settings</button>
</form>
